In [1]:
# Sets libiraries and options
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
# reads data
df = pd.read_csv("DATA.csv")
display(df)

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Q44,SC10,SC12,SC13,SC14,SC16,SC18,SC20,SC21,SC22,SC28,SC1,SC3,SC6,SC7,SC8,SC9,SC15,SC19,SC23,SC29,SC2,SC4,SC5,SC11,SC17,SC24,SC25,SC26,SC27,SC30,Q5,Q6,Q6_4_TEXT,Q7
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,Recipient First Name,Recipient Email,External Data Reference,Location Latitude,Location Longitude,Distribution Channel,User Language,Your investment options \n \n\n\n\t\n\t\t\n\t...,Your investment options \n\n\n\n\n Investm...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options \n\n\n\n\n Investm...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,Your investment options\n \n\n\n\t\n\t\t\n\t\t...,How old are you?,How do you describe yourself? - Selected Choice,How do you describe yourself? - Prefer to self...,What is the highest level of education you hav...
1,"{""ImportId"":""startDate"",""timeZone"":""Europe/Ber...","{""ImportId"":""endDate"",""timeZone"":""Europe/Berlin""}","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""Europe/...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}","{""ImportId"":""recipientFirstName""}","{""ImportId"":""recipientEmail""}","{""ImportId"":""externalDataReference""}","{""ImportId"":""locationLatitude""}","{""ImportId"":""locationLongitude""}","{""ImportId"":""distributionChannel""}","{""ImportId"":""userLanguage""}","{""ImportId"":""QID44""}","{""ImportId"":""QID75""}","{""ImportId"":""QID76""}","{""ImportId"":""QID77""}","{""ImportId"":""QID78""}","{""ImportId"":""QID79""}","{""ImportId"":""QID80""}","{""ImportId"":""QID81""}","{""ImportId"":""QID82""}","{""ImportId"":""QID83""}","{""ImportId"":""QID84""}","{""ImportId"":""QID85""}","{""ImportId"":""QID86""}","{""ImportId"":""QID87""}","{""ImportId"":""QID88""}","{""ImportId"":""QID89""}","{""ImportId"":""QID90""}","{""ImportId"":""QID91""}","{""ImportId"":""QID92""}","{""ImportId"":""QID93""}","{""ImportId"":""QID94""}","{""ImportId"":""QID95""}","{""ImportId"":""QID96""}","{""ImportId"":""QID97""}","{""ImportId"":""QID98""}","{""ImportId"":""QID99""}","{""ImportId"":""QID100""}","{""ImportId"":""QID101""}","{""ImportId"":""QID102""}","{""ImportId"":""QID103""}","{""ImportId"":""QID104""}","{""ImportId"":""QID5""}","{""ImportId"":""QID6""}","{""ImportId"":""QID6_4_TEXT""}","{""ImportId"":""QID7""}"
2,2024-04-11 09:22:35,2024-04-11 09:40:00,1,NaN,100,1044,1,2024-04-11 09:40:01,R_2qQDYhsLNVLAR93,NaN,NaN,NaN,NaN,51.9905,4.3364,preview,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,NaN,7
3,2024-04-11 14:05:20,2024-04-11 14:07:28,1,NaN,100,127,1,2024-04-11 14:07:29,R_2gBkuxcU40UTL2X,NaN,NaN,NaN,NaN,52.2849,5.1623,preview,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2,NaN,7
4,2024-04-11 15:22:12,2024-04-11 15:35:22,1,NaN,100,789,1,2024-04-11 15:35:23,R_60UlnWquSvT51ws,NaN,NaN,NaN,NaN,52.364,4.866,preview,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2024-04-20 10:20:27,2024-04-20 10:26:30,0,62.45.115.58,79,363,0,2024-04-27 10:20:28,R_2DqGpceEnNzRdsM,NaN,NaN,NaN,NaN,NaN,NaN,anonymous,EN,1,2,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,2024-04-20 11:08:56,2024-04-20 16:18:37,0,89.205.141.225,2,18581,0,2024-04-27 11:09:02,R_5mWvEtXagRkezm2,NaN,NaN,NaN,NaN,NaN,NaN,anonymous,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,2024-04-20 11:14:28,2024-04-20 11:16:41,0,83.83.49.241,67,133,0,2024-04-27 11:14:34,R_2GKDWMTfRQGDnz3,NaN,NaN,NaN,NaN,NaN,NaN,anonymous,EN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,2024-04-20 12:29:20,2024-04-20 12:29:33,0,178.84.255.165,2,12,0,2024-04-27 12:29:25,R_28YNgTiuX5i6bu1,NaN,NaN,NaN,NaN,NaN,NaN,anonymous,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2024-04-20 14:20:15,2024-04-20 14:21:24,0,83.82.41.44,2,68,0,2024-04-27 14:20:18,R_2wYQUa9YvU21XUJ,NaN,NaN,NaN,NaN,NaN,NaN,anonymous,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Filters data based on a few things
df = df[df["DistributionChannel"] == "anonymous"] #gets the data from published surveys

display(df)

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Q44,SC10,SC12,SC13,SC14,SC16,SC18,SC20,SC21,SC22,SC28,SC1,SC3,SC6,SC7,SC8,SC9,SC15,SC19,SC23,SC29,SC2,SC4,SC5,SC11,SC17,SC24,SC25,SC26,SC27,SC30,Q5,Q6,Q6_4_TEXT,Q7
10,2024-04-19 18:03:23,2024-04-19 18:07:17,0,188.88.142.226,100,233,1,2024-04-19 18:07:17,R_5Na5XNlZKeLGJAR,NaN,NaN,NaN,NaN,51.9905,4.3364,anonymous,EN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,1,2,1,1,1,2,2,2,1,NaN,7
11,2024-04-19 18:05:34,2024-04-19 18:08:23,0,77.63.3.242,100,169,1,2024-04-19 18:08:24,R_3FLkRv7E8QWITTs,NaN,NaN,NaN,NaN,52.0922,5.1268,anonymous,EN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,1,2,1,1,1,2,2,2,3,2,NaN,7
12,2024-04-19 18:10:15,2024-04-19 18:16:29,0,83.81.180.27,100,373,1,2024-04-19 18:16:29,R_2DUhbWQiuXLpoTg,NaN,NaN,NaN,NaN,52.3057,6.7662,anonymous,EN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,2,1,2,2,2,1,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,NaN,6
13,2024-04-19 18:25:57,2024-04-19 18:28:01,0,109.38.142.24,100,123,1,2024-04-19 18:28:02,R_4ywirBJE9fh8LiV,NaN,NaN,NaN,NaN,52.376,4.8702,anonymous,EN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,2,1,2,1,1,2,2,2,3,2,NaN,6
14,2024-04-19 18:37:44,2024-04-19 18:43:12,0,84.31.80.51,100,327,1,2024-04-19 18:43:12,R_6Pbs1em12LINhst,NaN,NaN,NaN,NaN,52.6954,5.2233,anonymous,EN,1,2,2,1,1,1,1,1,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2024-04-20 10:20:27,2024-04-20 10:26:30,0,62.45.115.58,79,363,0,2024-04-27 10:20:28,R_2DqGpceEnNzRdsM,NaN,NaN,NaN,NaN,NaN,NaN,anonymous,EN,1,2,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,2024-04-20 11:08:56,2024-04-20 16:18:37,0,89.205.141.225,2,18581,0,2024-04-27 11:09:02,R_5mWvEtXagRkezm2,NaN,NaN,NaN,NaN,NaN,NaN,anonymous,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,2024-04-20 11:14:28,2024-04-20 11:16:41,0,83.83.49.241,67,133,0,2024-04-27 11:14:34,R_2GKDWMTfRQGDnz3,NaN,NaN,NaN,NaN,NaN,NaN,anonymous,EN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,2024-04-20 12:29:20,2024-04-20 12:29:33,0,178.84.255.165,2,12,0,2024-04-27 12:29:25,R_28YNgTiuX5i6bu1,NaN,NaN,NaN,NaN,NaN,NaN,anonymous,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2024-04-20 14:20:15,2024-04-20 14:21:24,0,83.82.41.44,2,68,0,2024-04-27 14:20:18,R_2wYQUa9YvU21XUJ,NaN,NaN,NaN,NaN,NaN,NaN,anonymous,EN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(df.columns)

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Q44', 'SC10', 'SC12', 'SC13',
       'SC14', 'SC16', 'SC18', 'SC20', 'SC21', 'SC22', 'SC28', 'SC1', 'SC3',
       'SC6', 'SC7', 'SC8', 'SC9', 'SC15', 'SC19', 'SC23', 'SC29', 'SC2',
       'SC4', 'SC5', 'SC11', 'SC17', 'SC24', 'SC25', 'SC26', 'SC27', 'SC30',
       'Q5', 'Q6', 'Q6_4_TEXT', 'Q7'],
      dtype='object')

In [5]:
#gets response data from users
df =df[['ResponseId', 'Q44', 'SC10', 'SC12', 'SC13',
       'SC14', 'SC16', 'SC18', 'SC20', 'SC21', 'SC22', 'SC28', 'SC1', 'SC3',
       'SC6', 'SC7', 'SC8', 'SC9', 'SC15', 'SC19', 'SC23', 'SC29', 'SC2',
       'SC4', 'SC5', 'SC11', 'SC17', 'SC24', 'SC25', 'SC26', 'SC27', 'SC30',
       'Q5', 'Q6', 'Q6_4_TEXT', 'Q7']]

In [6]:
#converts data to long format
df["id"] = df.index

dfwide = pd.wide_to_long(df, stubnames = "SC" , i = "id", j = "number")

display(dfwide)

           Q44   Q5   Q6 Q6_4_TEXT   Q7         ResponseId   SC
id number
10 10        1    2    1       NaN    7  R_5Na5XNlZKeLGJAR  NaN
11 10        1    3    2       NaN    7  R_3FLkRv7E8QWITTs  NaN
12 10        1    2    1       NaN    6  R_2DUhbWQiuXLpoTg  NaN
13 10        1    3    2       NaN    6  R_4ywirBJE9fh8LiV  NaN
14 10        1    2    1       NaN    6  R_6Pbs1em12LINhst    2
...        ...  ...  ...       ...  ...                ...  ...
83 30        1  NaN  NaN       NaN  NaN  R_2DqGpceEnNzRdsM  NaN
84 30      NaN  NaN  NaN       NaN  NaN  R_5mWvEtXagRkezm2  NaN
85 30        1  NaN  NaN       NaN  NaN  R_2GKDWMTfRQGDnz3  NaN
86 30      NaN  NaN  NaN       NaN  NaN  R_28YNgTiuX5i6bu1  NaN
87 30      NaN  NaN  NaN       NaN  NaN  R_2wYQUa9YvU21XUJ  NaN

[2340 rows x 7 columns]

In [7]:
# Removes the blocks of the survey people didn't react to
dfwide = dfwide.dropna(subset=["SC"])
display(dfwide)

          Q44 Q5 Q6 Q6_4_TEXT Q7         ResponseId SC
id number
14 10       1  2  1       NaN  6  R_6Pbs1em12LINhst  2
16 10       1  3  1       NaN  7  R_2cpsbEv14Nv0HmN  2
20 10       1  3  2       NaN  7  R_2amq5ACWrtQTJgg  1
23 10       1  5  5       NaN  7  R_8zHCVRrrW11iEpt  1
25 10       1  2  1       NaN  6  R_7QhV5v06uzdShXQ  1
...        .. .. ..       ... ..                ... ..
42 30       1  2  1       NaN  6  R_17BW5HKhoivo9hC  1
47 30       1  2  2       NaN  7  R_5FapM0CqiNVPm2s  1
48 30       1  2  2       NaN  4  R_1oZ6tQBJKNg0HTv  1
50 30       1  5  2       NaN  7  R_2dvrz5OIOwMrvP3  2
52 30       1  2  1       NaN  6  R_5xRTAlhCmPuLF9D  1

[509 rows x 7 columns]

In [8]:
print(dfwide)

          Q44 Q5 Q6 Q6_4_TEXT Q7         ResponseId SC
id number
14 10       1  2  1       NaN  6  R_6Pbs1em12LINhst  2
16 10       1  3  1       NaN  7  R_2cpsbEv14Nv0HmN  2
20 10       1  3  2       NaN  7  R_2amq5ACWrtQTJgg  1
23 10       1  5  5       NaN  7  R_8zHCVRrrW11iEpt  1
25 10       1  2  1       NaN  6  R_7QhV5v06uzdShXQ  1
...        .. .. ..       ... ..                ... ..
42 30       1  2  1       NaN  6  R_17BW5HKhoivo9hC  1
47 30       1  2  2       NaN  7  R_5FapM0CqiNVPm2s  1
48 30       1  2  2       NaN  4  R_1oZ6tQBJKNg0HTv  1
50 30       1  5  2       NaN  7  R_2dvrz5OIOwMrvP3  2
52 30       1  2  1       NaN  6  R_5xRTAlhCmPuLF9D  1

[509 rows x 7 columns]

In [9]:
#Reads the trade offs they needed to make
scen = pd.read_excel("scenario sheet.xlsx")
display(scen)

,Choice situation,option1.method,option1.trust,option1.cost,option2.method,option2.trust,option2.cost
0,10,1,0,0,3,1,1
1,12,2,1,1,1,2,0
2,13,2,2,0,0,0,0
3,14,2,0,1,0,2,1
4,16,3,1,0,2,2,1
5,18,4,0,0,0,1,0
6,20,1,2,0,0,0,1
7,21,0,2,0,4,2,1
8,22,4,0,1,3,1,0
9,28,2,0,0,4,1,1
10,1,4,2,1,1,0,1
11,3,0,2,0,1,1,1
12,6,0,2,1,3,0,1
13,7,3,1,1,2,0,0
14,8,4,2,1,3,0,0
15,9,1,2,1,4,1,0
16,15,2,1,1,4,2,0
17,19,1,1,1,0,0,0
18,23,0,0,1,4,0,0
19,29,3,1,1,4,2,0
20,2,3,0,0,2,2,0
21,4,0,2,1,1,1,0
22,5,4,1,0,3,2,1
23,11,3,2,0,1,1,1
24,17,3,0,1,2,1,0
25,24,1,1,0,2,0,1
26,25,2,1,0,1,0,1
27,26,1,0,0,0,1,1
28,27,4,0,1,3,2,0
29,30,0,1,0,2,2,1

In [10]:
#Adds the trade of next to the answers
dfbig= dfwide.merge(scen, left_on='number', right_on='Choice situation')
display(dfbig)

,Q44,Q5,Q6,Q6_4_TEXT,Q7,ResponseId,SC,Choice situation,option1.method,option1.trust,option1.cost,option2.method,option2.trust,option2.cost
0,1,2,1,NaN,6,R_6Pbs1em12LINhst,2,10,1,0,0,3,1,1
1,1,3,1,NaN,7,R_2cpsbEv14Nv0HmN,2,10,1,0,0,3,1,1
2,1,3,2,NaN,7,R_2amq5ACWrtQTJgg,1,10,1,0,0,3,1,1
3,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,10,1,0,0,3,1,1
4,1,2,1,NaN,6,R_7QhV5v06uzdShXQ,1,10,1,0,0,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,30,0,1,0,2,2,1
505,1,2,2,NaN,7,R_5FapM0CqiNVPm2s,1,30,0,1,0,2,2,1
506,1,2,2,NaN,4,R_1oZ6tQBJKNg0HTv,1,30,0,1,0,2,2,1
507,1,5,2,NaN,7,R_2dvrz5OIOwMrvP3,2,30,0,1,0,2,2,1
508,1,2,1,NaN,6,R_5xRTAlhCmPuLF9D,1,30,0,1,0,2,2,1

In [11]:
# Makes some of the text more understandandable
dfbig = dfbig.rename(columns={"Q44": "Dummy", "Q5": "Age", "Q6": "Gender", "Q7": "Education", "ResponseId": "ID"})
display(dfbig)

,Dummy,Age,Gender,Q6_4_TEXT,Education,ID,SC,Choice situation,option1.method,option1.trust,option1.cost,option2.method,option2.trust,option2.cost
0,1,2,1,NaN,6,R_6Pbs1em12LINhst,2,10,1,0,0,3,1,1
1,1,3,1,NaN,7,R_2cpsbEv14Nv0HmN,2,10,1,0,0,3,1,1
2,1,3,2,NaN,7,R_2amq5ACWrtQTJgg,1,10,1,0,0,3,1,1
3,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,10,1,0,0,3,1,1
4,1,2,1,NaN,6,R_7QhV5v06uzdShXQ,1,10,1,0,0,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,30,0,1,0,2,2,1
505,1,2,2,NaN,7,R_5FapM0CqiNVPm2s,1,30,0,1,0,2,2,1
506,1,2,2,NaN,4,R_1oZ6tQBJKNg0HTv,1,30,0,1,0,2,2,1
507,1,5,2,NaN,7,R_2dvrz5OIOwMrvP3,2,30,0,1,0,2,2,1
508,1,2,1,NaN,6,R_5xRTAlhCmPuLF9D,1,30,0,1,0,2,2,1

In [12]:
# Sorts the responses by ID because the apollo library needs it like that
dfbig = dfbig.sort_values(by=["ID"])
display(dfbig)

,Dummy,Age,Gender,Q6_4_TEXT,Education,ID,SC,Choice situation,option1.method,option1.trust,option1.cost,option2.method,option2.trust,option2.cost
429,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,24,1,1,0,2,0,1
410,1,2,1,NaN,6,R_17BW5HKhoivo9hC,2,17,3,0,1,2,1,0
504,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,30,0,1,0,2,2,1
467,1,2,1,NaN,6,R_17BW5HKhoivo9hC,2,26,1,0,0,0,1,1
372,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,5,4,1,0,3,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,2,22,4,0,1,3,1,0
111,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,20,1,2,0,0,0,1
3,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,10,1,0,0,3,1,1
41,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,13,2,2,0,0,0,0
128,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,21,0,2,0,4,2,1

In [13]:
# Old code before the effect coding was implemented
# dfbig.to_csv("Long_Survey", index=False)

In [14]:
# Adds dummies in the k-1 format.
dfbig = pd.get_dummies(dfbig, columns= ["option1.method"],prefix=["option1.method.effect"], drop_first=True)
dfbig = pd.get_dummies(dfbig, columns= ["option2.method"],prefix=["option2.method.effect"], drop_first=True)
dfbig = pd.get_dummies(dfbig, columns= ["option1.trust"],prefix=["option1.trust.effect"], drop_first=True)
dfbig = pd.get_dummies(dfbig, columns= ["option2.trust"],prefix=["option2.trust.effect"], drop_first=True)
display(dfbig)

,Dummy,Age,Gender,Q6_4_TEXT,Education,ID,SC,Choice situation,option1.cost,option2.cost,option1.method.effect_1,option1.method.effect_2,option1.method.effect_3,option1.method.effect_4,option2.method.effect_1,option2.method.effect_2,option2.method.effect_3,option2.method.effect_4,option1.trust.effect_1,option1.trust.effect_2,option2.trust.effect_1,option2.trust.effect_2
429,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,24,0,1,True,False,False,False,False,True,False,False,True,False,False,False
410,1,2,1,NaN,6,R_17BW5HKhoivo9hC,2,17,1,0,False,False,True,False,False,True,False,False,False,False,True,False
504,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,30,0,1,False,False,False,False,False,True,False,False,True,False,False,True
467,1,2,1,NaN,6,R_17BW5HKhoivo9hC,2,26,0,1,True,False,False,False,False,False,False,False,False,False,True,False
372,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,5,0,1,False,False,False,True,False,False,True,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,2,22,1,0,False,False,False,True,False,False,True,False,False,False,True,False
111,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,20,0,1,True,False,False,False,False,False,False,False,False,True,False,False
3,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,10,0,1,True,False,False,False,False,False,True,False,False,False,True,False
41,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,13,0,0,False,True,False,False,False,False,False,False,False,True,False,False
128,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,21,0,1,False,False,False,False,False,False,False,True,False,True,False,True

In [15]:
# This drops for now only a entry that is not believeable old of age did the survey in 3 minutes and preffers to call itself king. This likely means that this person did not react to this survey in a reasonable way
dfbig = dfbig[dfbig["Q6_4_TEXT"].isna()]

In [16]:
print(dfbig.columns)

Index(['Dummy', 'Age', 'Gender', 'Q6_4_TEXT', 'Education', 'ID', 'SC',
       'Choice situation', 'option1.cost', 'option2.cost',
       'option1.method.effect_1', 'option1.method.effect_2',
       'option1.method.effect_3', 'option1.method.effect_4',
       'option2.method.effect_1', 'option2.method.effect_2',
       'option2.method.effect_3', 'option2.method.effect_4',
       'option1.trust.effect_1', 'option1.trust.effect_2',
       'option2.trust.effect_1', 'option2.trust.effect_2'],
      dtype='object')

In [17]:
# Sets the true false results to 0 and 1
dfbig[['option1.method.effect_1', 'option1.method.effect_2', 'option1.method.effect_3', 'option1.method.effect_4', 'option2.method.effect_1', 'option2.method.effect_2','option2.method.effect_3', 'option2.method.effect_4', 'option1.trust.effect_1', 'option1.trust.effect_2','option2.trust.effect_1', 'option2.trust.effect_2']] = dfbig[['option1.method.effect_1', 'option1.method.effect_2', 'option1.method.effect_3', 'option1.method.effect_4', 'option2.method.effect_1', 'option2.method.effect_2','option2.method.effect_3', 'option2.method.effect_4','option1.trust.effect_1', 'option1.trust.effect_2','option2.trust.effect_1', 'option2.trust.effect_2']].astype(int)
display(dfbig)

,Dummy,Age,Gender,Q6_4_TEXT,Education,ID,SC,Choice situation,option1.cost,option2.cost,option1.method.effect_1,option1.method.effect_2,option1.method.effect_3,option1.method.effect_4,option2.method.effect_1,option2.method.effect_2,option2.method.effect_3,option2.method.effect_4,option1.trust.effect_1,option1.trust.effect_2,option2.trust.effect_1,option2.trust.effect_2
429,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,24,0,1,1,0,0,0,0,1,0,0,1,0,0,0
410,1,2,1,NaN,6,R_17BW5HKhoivo9hC,2,17,1,0,0,0,1,0,0,1,0,0,0,0,1,0
504,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,30,0,1,0,0,0,0,0,1,0,0,1,0,0,1
467,1,2,1,NaN,6,R_17BW5HKhoivo9hC,2,26,0,1,1,0,0,0,0,0,0,0,0,0,1,0
372,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,5,0,1,0,0,0,1,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,2,22,1,0,0,0,0,1,0,0,1,0,0,0,1,0
111,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,20,0,1,1,0,0,0,0,0,0,0,0,1,0,0
3,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,10,0,1,1,0,0,0,0,0,1,0,0,0,1,0
41,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,13,0,0,0,1,0,0,0,0,0,0,0,1,0,0
128,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,21,0,1,0,0,0,0,0,0,0,1,0,1,0,1

In [18]:
#display(((dfbig["option1.method.effect_1"] == 0) & (dfbig["option1.method.effect_2"] == 0)& (dfbig["option1.method.effect_3"] == 0)))

In [19]:
# selects the reference group for the effects
series1 = ((dfbig["option1.method.effect_1"] == 0) & (dfbig["option1.method.effect_2"] == 0)& (dfbig["option1.method.effect_3"] == 0) & (dfbig["option1.method.effect_4"] == 0))

series2 = ((dfbig["option2.method.effect_1"] == 0) & (dfbig["option2.method.effect_2"] == 0) & (dfbig["option2.method.effect_3"] == 0) & (dfbig["option2.method.effect_4"] == 0))

series3 = ((dfbig["option1.trust.effect_1"] == 0) & (dfbig["option1.trust.effect_2"] == 0))

series4 = ((dfbig["option2.trust.effect_1"] == 0) & (dfbig["option2.trust.effect_2"] == 0))

In [20]:
#checking if the data set is balanced
print(sum(series1))
print(sum(dfbig["option1.method.effect_1"]))
print(sum(dfbig["option1.method.effect_2"]))
print(sum(dfbig["option1.method.effect_3"]))
print(sum(dfbig["option1.method.effect_4"]))

print(sum(series2))
print(sum(dfbig["option2.method.effect_1"]))
print(sum(dfbig["option2.method.effect_2"]))
print(sum(dfbig["option2.method.effect_3"]))
print(sum(dfbig["option2.method.effect_4"]))

96
100
104
100
99
102
106
105
100
86

In [21]:
# Calculates the amount of times an advice option is presented
meffect0 = sum(series1) + sum(series2)
meffect1 = sum(dfbig["option1.method.effect_1"]) + sum(dfbig["option2.method.effect_1"])
meffect2 = sum(dfbig["option1.method.effect_2"]) + sum(dfbig["option2.method.effect_2"])
meffect3 = sum(dfbig["option1.method.effect_3"]) + sum(dfbig["option2.method.effect_3"])
meffect4 = sum(dfbig["option1.method.effect_4"]) + sum(dfbig["option2.method.effect_4"])

# Calaculates the amount of times an opinion option is presented
opeffect0 = sum(series3) + sum(series4)
opeffect1 = sum(dfbig["option1.trust.effect_1"]) + sum(dfbig["option2.trust.effect_1"])
opeffect2 = sum(dfbig["option1.trust.effect_2"]) + sum(dfbig["option2.trust.effect_2"])

In [22]:
# Does the effect coding for option 1 method
dfbig.loc[series1, "option1.method.effect_1"] = -1
dfbig.loc[series1, "option1.method.effect_2"] = -1
dfbig.loc[series1, "option1.method.effect_3"] = -1
dfbig.loc[series1, "option1.method.effect_4"] = -1

# Does the effect coding for option 2 method
dfbig.loc[series2, "option2.method.effect_1"] = -1
dfbig.loc[series2, "option2.method.effect_2"] = -1
dfbig.loc[series2, "option1.method.effect_3"] = -1
dfbig.loc[series2, "option1.method.effect_4"] = -1

# Does the effect coding for option 1 trust
dfbig.loc[series3, "option1.trust.effect_1"] = -1
dfbig.loc[series3, "option1.trust.effect_2"] = -1


# Does the effect coding for option 2 trust
dfbig.loc[series4, "option2.trust.effect_1"] = -1
dfbig.loc[series4, "option2.trust.effect_2"] = -1

In [23]:
display(dfbig)

,Dummy,Age,Gender,Q6_4_TEXT,Education,ID,SC,Choice situation,option1.cost,option2.cost,option1.method.effect_1,option1.method.effect_2,option1.method.effect_3,option1.method.effect_4,option2.method.effect_1,option2.method.effect_2,option2.method.effect_3,option2.method.effect_4,option1.trust.effect_1,option1.trust.effect_2,option2.trust.effect_1,option2.trust.effect_2
429,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,24,0,1,1,0,0,0,0,1,0,0,1,0,-1,-1
410,1,2,1,NaN,6,R_17BW5HKhoivo9hC,2,17,1,0,0,0,1,0,0,1,0,0,-1,-1,1,0
504,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,30,0,1,-1,-1,-1,-1,0,1,0,0,1,0,0,1
467,1,2,1,NaN,6,R_17BW5HKhoivo9hC,2,26,0,1,1,0,-1,-1,-1,-1,0,0,-1,-1,1,0
372,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,5,0,1,0,0,0,1,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,2,22,1,0,0,0,0,1,0,0,1,0,-1,-1,1,0
111,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,20,0,1,1,0,-1,-1,-1,-1,0,0,0,1,-1,-1
3,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,10,0,1,1,0,0,0,0,0,1,0,-1,-1,1,0
41,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,13,0,0,0,1,-1,-1,-1,-1,0,0,0,1,-1,-1
128,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,21,0,1,-1,-1,-1,-1,0,0,0,1,0,1,0,1

In [24]:
#unweighted effect coding
dfbig.to_csv("Long_Effect", index=False)

In [25]:
#weighted effect coding start
# reference paper https://journal.r-project.org/archive/2017/RJ-2017-017/RJ-2017-017.pdf
# Does the weighted effect coding for option 1 method
dfbig.loc[series1, "option1.method.effect_1"] = (meffect1/meffect0)*-1
dfbig.loc[series1, "option1.method.effect_2"] = (meffect2/meffect0)*-1
dfbig.loc[series1, "option1.method.effect_3"] = (meffect3/meffect0)*-1
dfbig.loc[series1, "option1.method.effect_4"] = (meffect4/meffect0)*-1

# Does the effect coding for option 2 method
dfbig.loc[series2, "option2.method.effect_1"] = (meffect1/meffect0)*-1
dfbig.loc[series2, "option2.method.effect_2"] = (meffect2/meffect0)*-1
dfbig.loc[series2, "option1.method.effect_3"] = (meffect3/meffect0)*-1
dfbig.loc[series2, "option1.method.effect_4"] = (meffect4/meffect0)*-1

# Does the effect coding for option 1 trust
dfbig.loc[series3, "option1.trust.effect_1"] = (opeffect1/opeffect0)*-1
dfbig.loc[series3, "option1.trust.effect_2"] = (opeffect2/opeffect0)*-1


# Does the effect coding for option 2 trust
dfbig.loc[series4, "option2.trust.effect_1"] = (opeffect1/opeffect0)*-1
dfbig.loc[series4, "option2.trust.effect_2"] = (opeffect2/opeffect0)*-1

C:\Users\Alex\AppData\Local\Temp\ipykernel_28512\2798872374.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.0404040404040404' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  dfbig.loc[series1, "option1.method.effect_1"] = (meffect1/meffect0)*-1
C:\Users\Alex\AppData\Local\Temp\ipykernel_28512\2798872374.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.0555555555555556' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  dfbig.loc[series1, "option1.method.effect_2"] = (meffect2/meffect0)*-1
C:\Users\Alex\AppData\Local\Temp\ipykernel_28512\2798872374.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.0101010101010102' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  dfbig.loc[series1, "option1.method.effect_3"] = (meffect3/meffect0)*-1
C:\Users\Alex\AppData\Local\Temp\ipykernel_28512\2798872374.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.9343434343434344' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  dfbig.loc[series1, "option1.method.effect_4"] = (meffect4/meffect0)*-1
C:\Users\Alex\AppData\Local\Temp\ipykernel_28512\2798872374.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.0404040404040404' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  dfbig.loc[series2, "option2.method.effect_1"] = (meffect1/meffect0)*-1
C:\Users\Alex\AppData\Local\Temp\ipykernel_28512\2798872374.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.0555555555555556' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  dfbig.loc[series2, "option2.method.effect_2"] = (meffect2/meffect0)*-1
C:\Users\Alex\AppData\Local\Temp\ipykernel_28512\2798872374.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.0212121212121212' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  dfbig.loc[series3, "option1.trust.effect_1"] = (opeffect1/opeffect0)*-1
C:\Users\Alex\AppData\Local\Temp\ipykernel_28512\2798872374.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.003030303030303' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  dfbig.loc[series3, "option1.trust.effect_2"] = (opeffect2/opeffect0)*-1
C:\Users\Alex\AppData\Local\Temp\ipykernel_28512\2798872374.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.0212121212121212' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  dfbig.loc[series4, "option2.trust.effect_1"] = (opeffect1/opeffect0)*-1
C:\Users\Alex\AppData\Local\Temp\ipykernel_28512\2798872374.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.003030303030303' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  dfbig.loc[series4, "option2.trust.effect_2"] = (opeffect2/opeffect0)*-1

In [26]:
display(dfbig)

,Dummy,Age,Gender,Q6_4_TEXT,Education,ID,SC,Choice situation,option1.cost,option2.cost,option1.method.effect_1,option1.method.effect_2,option1.method.effect_3,option1.method.effect_4,option2.method.effect_1,option2.method.effect_2,option2.method.effect_3,option2.method.effect_4,option1.trust.effect_1,option1.trust.effect_2,option2.trust.effect_1,option2.trust.effect_2
429,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,24,0,1,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0,0,1.000000,0.00000,-1.021212,-1.00303
410,1,2,1,NaN,6,R_17BW5HKhoivo9hC,2,17,1,0,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0,0,-1.021212,-1.00303,1.000000,0.00000
504,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,30,0,1,-1.040404,-1.055556,-1.010101,-0.934343,0.000000,1.000000,0,0,1.000000,0.00000,0.000000,1.00000
467,1,2,1,NaN,6,R_17BW5HKhoivo9hC,2,26,0,1,1.000000,0.000000,-1.010101,-0.934343,-1.040404,-1.055556,0,0,-1.021212,-1.00303,1.000000,0.00000
372,1,2,1,NaN,6,R_17BW5HKhoivo9hC,1,5,0,1,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1,0,1.000000,0.00000,0.000000,1.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,2,22,1,0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1,0,-1.021212,-1.00303,1.000000,0.00000
111,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,20,0,1,1.000000,0.000000,-1.010101,-0.934343,-1.040404,-1.055556,0,0,0.000000,1.00000,-1.021212,-1.00303
3,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,10,0,1,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,-1.021212,-1.00303,1.000000,0.00000
41,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,13,0,0,0.000000,1.000000,-1.010101,-0.934343,-1.040404,-1.055556,0,0,0.000000,1.00000,-1.021212,-1.00303
128,1,5,5,NaN,7,R_8zHCVRrrW11iEpt,1,21,0,1,-1.040404,-1.055556,-1.010101,-0.934343,0.000000,0.000000,0,1,0.000000,1.00000,0.000000,1.00000

In [27]:
dfbig.to_csv("Long_W_Effect", index=False)